h1{
    color:blueviolet;
}
.highlight{
    background-color:yellow;
    font-weight: 200;
    cursor: pointer;
}

#header{
    background-color: aqua;
    padding: 20px;
    text-align: center;
    text-decoration: 5px;
}

*{
    margin:auto;
    padding: 0px;;
    
}
input[type="text"]{
    border: 3px solid forestgreen;
    padding:6px;
    margin-top: 11px;
}